$color-text-main: #1A1C1E;
$color-button-primary: linear-gradient(rgba(29, 97, 231, 0.9),  rgba(29, 97, 231, 1));
$color-button-shadow: rgba(55, 93, 251, 1);
$color-label: #edf1f4;
$color-text-border: #4D81E7;
$color-text-logo: #FFFFFF;
$color-button-border: #EFF0F6;
$color-text-clarifications:#808080;
$background-color: linear-gradient(to bottom, #2567E8 0%, #1CE6DA 100%);


$content-width: 1280px;
$tablet-width: 768px;
$mobile-width: 375px;

